<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-info bg-info color-custom">
    {% if user.is_authenticated %}
  <div class="container">
    <a class="navbar-brand text-white" href="{% url 'dashboard-index' %}"><img src="https://i.imgur.com/NDS9aTa.png" width="40" height="40" style="margin-right: 10px;">DateMaster</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if user.is_authenticated and user.is_staff and user.is_superuser %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link text-white" href="{% url 'dashboard-index' %}">Dashboard <span
                        class="sr-only">(current)</span></a>
            </li>
			<li class="nav-item active">
                <a class="nav-link text-white" href="{% url 'dashboard-product' %}">Inventário <span
                        class="sr-only">(current)</span></a>
            </li>
			<li class="nav-item active">
                <a class="nav-link text-white" href="{% url 'dashboard-staff' %}">Usuários <span
                        class="sr-only">(current)</span></a>
            </li>
        </ul>
        {% endif %}
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link text-white" href="{% url 'user-profile' %}">Admin Profile <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'user-logout' %}">Sair</a>
            </li>
        </ul>
        {% else %}
        
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
        
                <a class="nav-link text-white" href="{% url 'user-register' %}">Registrar <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'user-login' %}">Login</a>
            </li>
        </ul>
        {% endif %}
    </div>
  </div>
</nav>
<!--End Navbar-->


