<!--Topside-->
<div class="container">
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-info text-white color-custom">
                    Statistics
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <a class="text-decoration-none text-dark" href="{% url 'dashboard-index' %}">
                                <div class="card my-card shadow text-center p-3">
                                    <h4 style="color: #191919;">Total de Itens<i class="fas fa-users"></i></h4>
                                    <h1 style="color: #0a243d;">4</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a class="text-decoration-none text-dark" href="{% url 'dashboard-index' %}">
                                <div class="card my-card shadow text-center p-3">
                                    <h4 style="color: #191919;">Validade Alta<i class="fas fa-box"></i></h4>
                                    <h1 style="color: #54ff8c;">4</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a class="text-decoration-none text-dark" href="{% url 'dashboard-index' %}">
                                <div class="card my-card shadow text-center p-3">
                                    <h4 style="color: #191919;">Validade Média<i class="fas fa-shipping-fast"></i></h4>
                                    <h1 style="color: #c7c903;">4</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a class="text-decoration-none text-dark" href="{% url 'dashboard-index' %}">
                                <div class="card my-card shadow text-center p-3">
                                    <h4 style="color: #191919;">Validade Baixa<i class="fas fa-shipping-fast"></i></h4>
                                    <h1 style="color: #ff0000;">4</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Topside-->