{% extends 'partials/base.html' %}
{% block title %} DateMaster {% endblock%}
{% load crispy_forms_tags %}

{% block content %}
{% include 'partials/topnav.html' %}
        <!--Table-->
        <div class="container">
            <div class="row my-4">
                <div class="col-md-12">
                    <table class="table bg-white">
                        <thead class="bg-info color-custom">
                            <tr class="text-white">
                                <th scope="col">Nome</th>
                                <th scope="col">Lote</th>
                                <th scope="col">Quantidade</th>
                                <th scope="col">Categoria</th>
                                <th scope="col">Validade</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in items %}
                                <tr >
                                    <td style="background-color: #f0fcf2;">{{ item.name }}</td>
                                    <td style="background-color: #f0fcf2;">{{ item.lot }}</td>
                                    <td style="background-color: #f0fcf2;">{{ item.quantity }}</td>
                                    <td style="background-color: #f0fcf2;">{{ item.category }}</td>
                                    <td style="background-color: #f0fcf2;">{{ item.expiration_date }}</td>
                                    <td style="background-color: #f0fcf2;">
                                        <a class="btn btn-info btn-sm" href="#">Edit</a>
                                        <a class="btn btn-danger btn-sm" href="#">Delete</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
    
        </div>
    
    
    
        <!--End Table-->
{% endblock%}