{% extends 'partials/base.html' %}
{% block title %} DateMaster {% endblock%}
{% load crispy_forms_tags %}

{% block content %}
{% include 'partials/topnav.html' %}
        <!--Table-->
        <div class="container">
            <div class="row my-4">
                <div class="col-md-12">
                    <table class="table bg-white">
                        <thead class="bg-info color-custom">
                            <tr class="text-white">
                                <th scope="col">Nome</th>
                                <th scope="col">Lote</th>
                                <th scope="col">Quantia</th>
                                <th scope="col">Categoria</th>
                                <th scope="col">Validade</th>
                                <th scope="col">Observação</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in items %}
                                <tr >
                                    <td style="background-color: rgb(245, 144, 144);">{{ item.name }}</td>
                                    <td style="background-color: rgb(245, 144, 144);">{{ item.lot }}</td>
                                    <td style="background-color: rgb(245, 144, 144);">{{ item.quantity }}</td>
                                    <td style="background-color: rgb(245, 144, 144);">{{ item.category }}</td>
                                    <td style="background-color: rgb(245, 144, 144);">{{ item.expiration_date|date:"d/m/y" }}</td>
                                    <td style="background-color: rgb(245, 144, 144);">{{item.observation}}</td>
                                    <td style="background-color: rgb(245, 144, 144);">
                                        <a class="btn btn-info btn-sm" href="{% url 'dashboard-product-update' pk=item.id %}">Editar</a>
                                        <a class="btn btn-danger btn-sm" href="{% url 'dashboard-product-delete' pk=item.id %}">Deletar</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
    
        </div>
    
    
    
        <!--End Table-->
{% endblock%}