{% extends 'partials/base.html' %}
{% block title %}Deslogar{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <div class="border bg-white p-3">
                    <h3><img src="https://i.imgur.com/S4e2wrN.png" width="40" height="40" style="margin-right: 10px;">Deslogar</h3>
                    <hr>
                    <div class="alert alert-danger">
                        <h4>Você foi deslogado</h4>
                    </div>
                    <a href="{% url 'user-login' %}">Login</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}