{% extends 'partials/base.html' %}
{% block title %}Registro{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row my-4">
    <div class="col-md-6 offset-md-3">
        <div class="border p-3 bg-white">
            <h4><img src="https://i.imgur.com/S4e2wrN.png" width="40" height="40" style="margin-right: 10px;">Registro</h4>
            <hr>
            <form method="POST">
                {% csrf_token %}
                {{ form |crispy }}
                <input class="btn btn-success" type="submit" value="Register">
            </form>
        </div>
    </div>
</div>


{% endblock %}